<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058690863960-bsmqgvgbr1ercvvlade7itsoeev0n1kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058690863960-bsmqgvgbr1ercvvlade7itsoeev0n1kb</string>
	<key>API_KEY</key>
	<string>AIzaSyBS3W-HjSvgae6Sv9lj4DUOtfIX7Q97HB4</string>
	<key>GCM_SENDER_ID</key>
	<string>1058690863960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ist.over.goodIdeaCard</string>
	<key>PROJECT_ID</key>
	<string>goodideacard</string>
	<key>STORAGE_BUCKET</key>
	<string>goodideacard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058690863960:ios:90f27744ec3e5d68fd4b2d</string>
</dict>
</plist>